h5, h6 {
    font-weight: bold !important;
}
  
.rbc {
color: #0050A5 !important;
}

.ericsson {
color: #005ACF !important;
}

.versaterm {
color: #015F98 !important;
}

.envCanada {
color: #0D6B72 !important;
}

.carleton {
color: #E3353C !important;
}

.bmo {
    color: #009FF5 !important;
}